streamlit
easyocr
Pillow
numpy
summarizer
youtube_transcript_api
transformers
requests
pytube
spacy
python-docx
PyPDF2
python-pptx
pymupdf
whisper
keybert
gensim
matplotlib
wordcloud
plotly
pandas
nltk
