streamlit
fastapi
uvicorn
pydantic-settings
transformers
torch
easyocr
Pillow
numpy
youtube_transcript_api
pytube
spacy
python-docx
PyPDF2
python-pptx
pymupdf
whisper
keybert
gensim
matplotlib
wordcloud
plotly
pandas
nltk
rouge-score
bert-score
pytest
pytest-asyncio
requests